/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes like {
    from {
        scale: 1;
    }

    to {
        scale: 1.25;
    }
}

@keyframes sparks {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* БАЗОВОЕ СОСТОЯНИЕ  */

/* центр для масштабирования */
.like-icon {
  transform-origin: center;
}

/* контур: чёрный, только переход */
.like-icon .contour {
  transition: fill 0.1s linear 0s;
}

/* сердцевина: прозрачная + переход 0.3s linear 0.03s */
.like-icon .core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

/* основное тело: прозрачное + переход 0.3s linear без задержки */
.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear 0s;
}

/* искры по умолчанию скрыты */
.sparks {
  opacity: 0;
}

/* СОСТОЯНИЕ :HOVER  */

/* наведение по svg-иконке */
.like-icon:hover .core {
  fill: var(--heart-contour-color);
  /* та же длительность и функция, но без задержки */
  transition: fill 0.3s linear 0s;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour-color);
  transition: fill 0.3s linear 0.05s;
}

/* СОСТОЯНИЕ :ACTIVE  */

.like-icon:active .core {
  fill: var(--heart-sparks-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:active .main-body {
  fill: var(--heart-sparks-color);
  transition: fill 0.3s linear 0.05s;
}

/* ЛАЙКНУЛИ (is-liked)  */

.like-icon.is-liked .core {
  fill: var(--heart-sparks-color);
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-sparks-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-sparks-color);
  transition: fill 0.3s linear 0.06s;
}

/* масштабирование сердца */
.like-icon.is-liked .heart {
  animation: like 0.3s ease-in 0.1s 1;
}

/* искры */
.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s 1;
}

/* ФОКУС КНОПКИ  */

.card__icon-button:focus-visible {
  outline-color: black;
  transition: outline-color var(--time_step) linear;
}